body {
  background-color: var(--gray-000);
  padding: 1rem;
}

#root {
  background-color: white;
  max-width: 450px;
  margin: auto;
  padding: 0.5rem 1rem 0;
  border-radius: 1rem;
}

.main,
.section,
.section-md {
  display: flex;
  flex-direction: column;
}

.section,
.section-md {
  justify-content: center;
}

.main {
  height: calc(100vh - 56px - 2.5rem);
  justify-content: space-between;
  position: relative;
}

.section {
  height: 56px;
}

.section-md {
  height: 50px;
}