body {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
}

.main,
.section,
.section-md {
  display: flex;
  flex-direction: column;
}

.section,
.section-md {
  justify-content: center;
}

.main {
  height: 650px;
  justify-content: space-between;
  position: relative;
}

.section {
  height: 56px;
}

.section-md {
  height: 50px;
}

